.keyword {
    -fx-fill: #0000ff;   /* Blue for keywords like public, class */
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #008000;   /* Green for string literals */
}

.comment {
    -fx-fill: #808080;   /* Gray for comments */
    -fx-font-style: italic;
}

.number {
    -fx-fill: #ff00ff;   /* Magenta for numbers */
}

.paren, .brace, .bracket, .semicolon {
    -fx-fill: #000000;   /* Default black */
}

.lineno {
    -fx-background-color: #f0f0f0;
    -fx-text-fill: gray;
    -fx-alignment: center-right;
    -fx-padding: 0 8 0 0;
}

.code-area .paragraph-graphic {
    -fx-background-color: #f0f0f0;
}

.datastructure {
    -fx-fill: #FC6045;
    -fx-font-style: bold;
}

.highlight {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

